/* setting font for website */

* {
    font-family: "Arial sans-serif", Arial;
}


/* head section */

#header {
    background-color: #E05151;
    padding: 20px;
    margin-bottom: 5px;
}


.heading {
    color: white;
    display: inline;
}


/* navigation bar */

#navigation {
    padding: 10px;
    background-color: #868686;
    margin-bottom: 15px;
}

#links {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}


/* main part */

.images {
    width: 500px;
    height: 400px;
}


/* trying to float the pictures, but failing miserably. 
tried floating and boxes, but no success. */

.one-left {
    float: left;
}

.one-right {
    float: right;
}

.two-left {
    float: left;
    margin-top: 50px;
}

.two-right {
    float: right;
    margin-top: 50px;
}

p {
    font-style: bold;
    color: black;
    font-size: 18px;
    position: relative;
}


/* Contact Us Page */

form {
    font-style: bold;
    font-size: 12px;
}


/* footer */

#foot {
    background-color: #E05151;
    padding: 15px;
    text-align: center;
}